.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


table.center {
    margin-left:auto;
    margin-right:auto;
    vertical-align: middle;
    width: fit-content;
    height: fit-content;
}

table.default-table{
    width: fit-content;
    height: fit-content;
    border-spacing: 10px;
    border-collapse: separate;
    padding: 10%;
    border:0;
}
table.table80{
    width:80%;
    text-align: center;
    border-spacing: 10px;
    border-collapse: separate;
    padding: 10%;
}
table.table70{
    width:70%;
}
table.table80-2{
    padding: 5%;
    border-spacing: 5px;
    border-collapse: separate;
    width:80%;
}
table.table80-3{
    height: 80%;
    width:80%;
}
table.empty-table{
    width:60%;
    height:80%;
    padding: 40%;
}

table.q{
    background-color:#F6F9FF;
    border-spacing: 0;
    border-collapse: collapse;
    padding: 10%;
    width:80%;
}

tr.margin-admin{
    text-align: center;
    background-color:#E5EDF5;
}

th.margin-admin{
    colspan:10;
    background-color:#E5EDF5;
}

tr.color-admin{
    background-color:#F6F9FF;
}

tr.tr10{
    padding: 10%;
}
tr.center{
    text-align: center;
}

td.middle-admin{
    colspan:10;
}

td.admin-avatar-maschi{
    colspan:5;
    text-align: center;
    background-color:#B1E1FC;
}
td.admin-avatar-femmine{
    colspan:5;
    text-align: center;
    background-color:#D7DDFC;
}

td.center{
    text-align: center;
}
td.right{
    text-align: right;
}
td.left{
    text-align: left;
}
td.m{
    background-color:#DFF2FE;
}
td.f{
    background-color:#EEF1FE;
}
td.half{
    width:48%;
}

td.small{
    width:10%;
}

td.very-small{
    width:4%;
}
td.extra-small{
    width:2%;
}
td.q1{
    background-color:#E5EDF5
}
td.q2{
    background-color:#F6F9FF
}


h3{
    text-align:center;
    vertical-align: middle;
}

p.right{
    text-align: right;
}

body {
    text-align:center;
}